[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
passlib = "*"
python-dotenv = "*"
python-jose = "*"
python-multipart = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.9"
